body.LoginPage {
  margin: 0;
  width: 100%;
}

#TheTemplate_Login{
  display: flex;
  justify-content: left;
  margin: 0;
  height: 100vb;
  width: 100%;
  background: linear-gradient(160deg, #F5F0CD, #e0c099);
}

#BlueBg {
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}




#SL{
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
#TheImage{
  height: 65vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}







.container1{
  display: flex;
  width: 100%; 
  height: 100%;
  justify-content: left;
  align-items: center;
  z-index: 4;
}

.TheBox_Log{
  width: 50%;
  height: 100%;
  display: flex;
  margin: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.LoginTxt{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}


.Txt_Input_Box_Log{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #D9D9D9;
  opacity: 0.7;
  border-radius: 15px;
  border: solid;
  border-width: 1.5px;
  border-color: #888888;
  margin-bottom: 1rem;
}

.Username, .password{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 28px;
  width: 95%;
  border: none;
  outline: none;
}





  
.RememberBox_ForgetPassword_Box{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
}

.RememberBox{
  font-weight: 400;
  display: flex;
  margin: 0 0 0 0.5rem;
  justify-content: left;
}

#RememberMe{
  margin: 0.2rem 0.3rem 0 0;
  width: 10px;
}

#RememberMeTxt{
  display: flex;
  font-size: 10.5px;
}

#LastSection_Log{
  margin-bottom: 0.5rem;
}






.ForgetPasswordBox{
  display: flex;
  margin: 0 0.5rem 0 0;
  align-items: center;
}

#ForgetPassword{
  display: flex;
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-size: x-small;
}
#ForgetPassword:hover{
  color: black;
}







.DirectToRegister_Box{
  display: flex;
  justify-content: right;
  margin-left: 2%;
  width: 60%;
}
.DirectToRegister{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0 0 0 16rem;
  font-size: x-small;
}

.Register{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: black;
}

.DTRTxt{
  width: 11rem;
}



.Button_Box{
  display: flex;
  justify-content: left;
  margin-left: 2%;
  width: 62%;
}
.ButtonBox{
  display: flex;
  justify-content: center;
  width: 110px;
}
.LoginBtn{
  margin: 0.4rem 0 0 0;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: #A8EAF1;
  font-weight: 700;
  color: black;
}
.LoginBtn:hover{
  background-color: #9ee0e8;
}

.RegisterBox{
  display: flex;
  margin: 1rem 0 0 0;
}





@media (max-width: 1100px) {
  .AllImg {
    display: none;
  }
  #TheTemplate_Login, .container1 {
    justify-content: center;
    height: 800px;
  }
}