.navigation-bar {
    height: 60px;
    width: 100%;
    background-color: #F5F0CD;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-logo {
    width: 40px;
    height: 40px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-icon {
    margin-left: 20px;
    cursor: pointer;
  }
  
  #chat-logo{
    width: 33px;
    height: 35px;
  }

  #calender-logo{
    width: 27px;
    height: 27px;
  }

  #notification-logo{
    width: 30px;
    height: 30px;
  }

  .nav-avatar {
    width: 39px;
    height: 36px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
    cursor: pointer;
  }
  